@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #21082B;
  --text: #ffffff;
  --footer-background: #18061f;
  --footer-text: #b2adb1;
  --primary: #b74ad4;
}

.light {
  --background: #ffffff;
  --text: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-footer-background: var(--footer-background);
  --color-footer-text: var(--footer-text);
  --color-primary: var(--primary);
  --font-nunito: "Nunito", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-nunito);
}

.swiper-pagination-bullet {
  background-color: var(--footer-text) !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
  opacity: 1;
  transform: scale(1.3);
}